@using VecozoWeb.Models
@model MedewerkerVM
@{
    ViewData["Title"] = "Index";
}

<h3>Mijn Vaardigheden</h3>
<body>
    <table class="table  table-hover">
        <thead>
            <tr>
                <th scope="col">Naam</th>
                <th scope="col">Score</th>
                <th scope="col">Beschrijving</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Ratings != null)
            {
                @foreach (RatingVM r in Model.Ratings)
                {
                    <tr>
                        <td>
                            <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                                @r.Vaardigheid.Naam
                            </a>
                        </td>
                        <td>
                            <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                                @for (int i = 0; i < r.Score; i++)
                                {
                                    <span class="fa fa-star checked"></span>
                                }
                            </a>
                        </td>
                        <td>
                            <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                                @r.Beschrijving
                            </a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
    <br />
    <a class="" data-bs-toggle="modal" href="#exampleModal" role="button" aria-controls="#exampleModal">
        Voeg een vaardigheid toe
    </a>
</body>


