@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<h1>Mijn Vaardigheden</h1>
<body>


    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">Naam</th>
                <th scope="col">Score</th>
                <th scope="col">Beschrijving</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>C#</td>
                <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </td>
                <td>twee jaar ervaring</td>
            </tr>
            <tr>
                <td>JavaScript</td>
                <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </td>
                <td>10 jaar ervaring en 3 jaar gewerkt bij Google</td>
            </tr>
            <tr>
                <td>SQL</td>
                <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </td>
                <td>5 jaar ervaring</td>
            </tr>
        </tbody>
    </table>
    <br />
    <button type="button" class="btn btn-outline-secondary">Voeg een vaardigheid toe</button>


</body>


