
@{
    ViewData["Title"] = "Index";
}

<h1>Medewerkers Overzicht</h1>
<br />

<table class="table table-hover table-borderless table-striped">
  <thead>
    <tr>
      <th scope="col">Naam</th>
      <th scope="col">Vaardigheid</th>
      <th scope="col">Team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Amier</td>
      <td>C#</td>
      <td>Rood</td>
    </tr>
       <tr>
      <td>Cezar</td>
      <td>C#</td>
      <td>Groen</td>
    </tr>
       <tr>
      <td>Zakaria</td>
      <td>Java</td>
      <td>Rood</td>
    </tr>
       <tr>
      <td>Zein</td>
      <td>Sql</td>
      <td>Rood</td>
    </tr>
       <tr>
      <td>Martijn</td>
      <td>Java</td>
      <td>Geel</td>
    </tr>
       <tr>
      <td>Bjorn</td>
      <td>C#</td>
      <td>Rood</td>
    </tr>
  </tbody>
</table>

