@{
    ViewData["Title"] = "MedewerkerOverzicht";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<h1>Amier Alchazli</h1>
<body>
    <p>Laatst gewijzegd: 20-04-2022</p>

    <table class="table  table-hover">
        <thead>
            <tr>
                <th scope="col">Naam</th>
                <th scope="col">Score</th>
                <th scope="col">Beschrijving</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                        C#
                    </a>
                </td>
                <td>
                    <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>

                    </a>
                </td>
                <td>
                    <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                        twee jaar ervaring
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                        JavaScript
                    </a>
                </td>
                <td>
                    <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </a>
                </td>
                <td>
                    <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                        10 jaar ervaring en 3 jaar gewerkt bij Google
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                        SQL
                    </a>
                </td>
                <td>
                    <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                    </a>
                </td>
                <td>
                    <a data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasRight">
                        5 jaar ervaring
                </td>
                </a>
            </tr>
        </tbody>
    </table>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Offcanvas right</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>
</body>

