
@{
    ViewData["Title"] = "MedewerkerOverzicht";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<h1>Amier Alchazli</h1>
<body>
    <p>Laatst gewijzegd: 20-04-2022</p>

    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">Naam</th>
                <th scope="col">Score</th>
                <th scope="col">Beschrijving</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>C#</td>
                <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </td>
                <td>twee jaar ervaring</td>
            </tr>
            <tr>
                <td>JavaScript</td>
                <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </td>
                <td>10 jaar ervaring en 3 jaar gewerkt bij Google</td>
            </tr>
            <tr>
                <td>SQL</td>
                <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </td>
                <td>5 jaar ervaring</td>
            </tr>
        </tbody>
    </table>
</body>

